[user]
	name = CleoKiama
	email = 111430806+CleoKiama@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[includeIf "gitdir:/home/cleo/Projects/thegoodco/"]
	path = ~/.gitconfig-thegoodco
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
