* {
    all: unset;
    background-image: none;
    transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    color: #cdd6f4;
    background-color: #1e1e2e;
    border: 1px solid #313244;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center 36%;
    background-size: 48px;
    margin: 8px;
    padding-top: 80px;
    padding-bottom: 20px;
}

button:focus,
button:hover {
    background-color: #313244;
    border-color: #cba6f7;
    color: #cba6f7;
    background-size: 56px;
}

#lock {
    background-image: image(url("/home/cleo/.config/wlogout/icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/cleo/.config/wlogout/icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/cleo/.config/wlogout/icons/suspend_white.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/home/cleo/.config/wlogout/icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/home/cleo/.config/wlogout/icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}
